/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #dd1818
;
    color: white;
    padding: 15px 0;
    text-align: center;
}

header .logo h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

h2 {
    text-align: center;
    margin: 20px 0;
    color: #333;
}
.productos {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.producto {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 30%;
}

.producto img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.producto .precio {
    font-size: 1.2em;
    margin: 10px 0;
    color: #333;
}

.productos-lista {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

button {
    background-color: #dd1818;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

#carrito {
    margin-top: 50px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#carrito ul {
    list-style-type: none;
}

#carrito ul li {
    padding: 10px 0;
}

#contacto {
    margin-top: 50px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

footer {
    background-color: #dd1818;
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
